<!DOCTYPE html>
<html>


<head>
    <title>Ob der Baechi</title>
</head>


<body>
<h1>Ob der Baechi</h1>
<h2>Sensor 1</h2>
<p>Temperature: {{ temperature }}&deg;C</p>
<p>Humidity: {{ humidity }}%</p>
<hr>

<div>
    <img src="data:image/png;base64,{{ plot_data }}" alt="Temperature and Humidity Plot">
</div>


<div width:100vh height:100vh>
    <img src="https://github.com/JulianKlug/TemperatureSensorApp/raw/main/ceyna.png" alt="Ceyna"
         style="padding: 0 5px 10px 10px; position: absolute; bottom: 0; right: 0;">
</div>
</body>
</html>

