<!DOCTYPE html>
<html>


<head>
    <title>Ob der Baechi</title>
    <style>
        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 1.5em;
        }

        h4 {
            font-size: 1.2em;
        }

    </style>
</head>


<body>
<h1>Ob der Baechi</h1>
<div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
        <h2>Sensor 1</h2>
        <p>Temperature: {{ temperature }} &deg;C</p>
        <p>Humidity: {{ humidity }} %</p>
        <div>
            <h3>Min/Max Values (Last 24 Hours)</h3>
            <p>Temperature:</p>
            <ul>
                <li>Min: {{ min_temperature }} &deg;C</li>
                <li>Max: {{ max_temperature }} &deg;C</li>
            </ul>
            <p>Humidity:</p>
            <ul>
                <li>Min: {{ min_humidity }} %</li>
                <li>Max: {{ max_humidity }} %</li>
            </ul>
        </div>
    </div>
    <div style="flex: 1;">
        <img src="data:image/png;base64,{{ plot_data }}" alt="Temperature and Humidity Plot"/>
    </div>
</div>


<div width:100vh height:100vh>
    <img src="https://github.com/JulianKlug/TemperatureSensorApp/raw/main/ceyna.png" alt="Ceyna"
         style="padding: 0 5px 10px 10px; position: absolute; bottom: 0; right: 0;">
</div>
</body>
</html>

